*{
  text-align: center;
  font-family: 'Bubbler One', sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
.jumbo{
  margin-top: 4%;
  background: crimson;
}
.botonEnviar{
  background: whitesmoke;
  border: 1% solid whitesmoke;
  color: darkgray;
  margin-top: 2%;
}
#textoContador{
  background-color: transparent;
  color: darkgray;
}
